## 1. Tuple (Bộ giá trị)
+ tuple được sử dụng để lưu trữ nhiều giá trị trong một biến duy nhất
+ tuple là một cấu trúc dữ liệu có thứ tự, cho phép các giá trị trùng lặp 
+ tuple bản thân nó và các phần tử bên trong nó không thể thay đổi
+ tuple được tạo bởi cặp dấu ngoặc tròn (nên dùng) ngăn cách với nhau bằng dấu phẩy (,)
+ tuple cũng giống như list truy cập vào các phần tử bằng chỉ số (index)

### a. Khai báo (định nghĩa, tạo ra) tuple

In [1]:
# Định nghĩa (tạo ra) một tuple chứa các số nguyên
numbers = (1, 3, 2, 4)
type(numbers)

tuple

In [2]:
# Tạo ra tuple (chứa các chuỗi) không sử dụng dấu ngoặc tròn
friends = "Kenny", "Anna", "Jren", "Jack"
type(friends)

tuple

In [3]:
# Tuple có một phần tử (element, item)
a_tuple = .5,
type(a_tuple)

tuple

### b. Truy cập vào các giá trị bên trong tuple
+ Sử dụng cú pháp dấu ngoặc vuông sau tên tuple

In [4]:
#             0       1       2       3
friends = ("Jack", "Jren", "John", "Kenny")

print("giá trị thứ hai\t\t:", friends[1])
print("giá trị đầu tiên\t:", friends[0])
print("giá trị cuối cùng\t:", friends[-1])

giá trị thứ hai		: Jren
giá trị đầu tiên	: Jack
giá trị cuối cùng	: Kenny

In [5]:
# Truy cập vào một chỉ số bên ngoài tuple thì sẽ gặp lỗi IndexError
print(friends[100])

IndexError: tuple index out of range

### b. Thiết lập lại giá trị của một phần tử (biến) trong tuple
+ Trong tuple các phần tử cũng như bản thân nó không thể thay đổi giá trị

In [6]:
numbers = (1, 2.5, 7.5, -4.5, 100)
numbers[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [7]:
# tuple không có thuộc tính append nên nó không thể thay đổi được
numbers.append(100)

AttributeError: 'tuple' object has no attribute 'append'

### c. Nối tuple với một tuple khác

In [8]:
tup1 = 1, 2, 3 # tuple chứa các giá trị cách nhau bởi dấu phẩy
tup2 = (3,)    # tuple chứa một giá trị duy nhất

In [9]:
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 3)

In [10]:
# update lại giá trị của tup1
tup1 += (100,)
print(tup1)

(1, 2, 3, 100)

## 2. Set
+ set là một cấu trúc dữ liệu không cho phép các phần tử trùng lặp, không có thứ tự cố định, không thể truy cập bằng chỉ số
+ set được tạo sử dụng cặp dấu ngoặc nhọn, nếu trống thì nó là dict trống không phải set
+ tạo một set trống thì sử dụng như sau: set()

In [11]:
# Tạo ra một set trống
empty_set = set()
type(empty_set)

set

In [12]:
# Tạo một set những người bạn
friends = {"Bob", "Jen", "Kenny", "Jack"}
type(friends)

set

In [13]:
# Thêm một giá trị vào set
friends = {"Bob", "Jen", "Kenny", "Jack"}

friends.add("Joe")
friends.add("Joe")

print(friends)

{'Joe', 'Jen', 'Bob', 'Kenny', 'Jack'}

### Chú ý:
+ Dựa vào kết quả trên thấy rằng: trong set không thể chứ các giá trị trùng lặp (thêm hai lần Joe mà kết quả cuối cùng chỉ chứa một giá trị)

In [14]:
# Liệt kê các hàm có trong set
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [15]:
# cập nhật giá trị trong set
print(friends)
friends.update(("Obito", "Itachi", "Naruto"))
print(friends)

{'Joe', 'Jen', 'Bob', 'Kenny', 'Jack'}
{'Joe', 'Jen', 'Naruto', 'Obito', 'Itachi', 'Bob', 'Kenny', 'Jack'}

In [16]:
# xóa một giá trị trong set
print(friends)
friends.remove("Itachi")
print(friends)

{'Joe', 'Jen', 'Naruto', 'Obito', 'Itachi', 'Bob', 'Kenny', 'Jack'}
{'Joe', 'Jen', 'Naruto', 'Obito', 'Bob', 'Kenny', 'Jack'}

In [17]:
# xóa một giá trị không tồn tại trong set - lỗi KeyError
friends.remove("Sasuke")

KeyError: 'Sasuke'

In [18]:
# xóa và trả về một phần tử bất kỳ trong set
any_value = friends.pop()
print(any_value)
print(friends)

Joe
{'Jen', 'Naruto', 'Obito', 'Bob', 'Kenny', 'Jack'}

In [19]:
# xóa tất cả các giá trị trong set
friends.clear()
print(friends)

set()

## 3. Bài tập
#### 1. Cho một list chứa các tuple như sau: friends = [("Bob", "Male"), ("Anna", "Female"), ("Max", "Male")]
+ a. Cho biết chiều dài của friends
+ b. Lấy ra phần tử đầu, cuối và giữa và kiểm tra kiểu của chúng
+ c. Nhập vào tên (name) và giới tính (gender) của một người bạn sau đó append vào friends tuple gồm hai giá trị (name, gender)

#### 2. Tạo một set trống có tên là set_a
+ a. Thêm 'Anna' vào set_a
+ b. Thêm một tuple ('Kenny', 'Jen', 'Danny')
+ c. In ra set_a và tính chiều dài của nó
+ d. Xóa 'Jen' ra khỏi set_a
+ e. Xóa tất cả các giá trị từ set_a