## 4. Bài tập
1. Cho danh sách (list) friends = ["Jen", "Jack", "Kenny", "Jelly", "Bob", "Henry", "Anne"]
+ Yêu cầu:
+ a. Lấy ra 4 người bạn đầu tiên trong friends
+ b. Lấy ra 4 người bạn cuối trong friends
+ c. Đảo ngược danh sách friends
+ d. Lấy ra những người bạn từ vị trí 1 đến hết
+ e. Copy danh sách ban đầu thành một danh sách mới
+ f. Lấy ra những người bạn từ vị trí 2 đến sát cuối

2. Cho danh sách các sinh viên chứa thông tin của mỗi sinh viên [id, tên, tuổi] như sau: 
+ students = [["SV001", "Bob", 23], ["SV002", "Kenny", 34], ["SV003", "Henry", 45]]
+ Yêu cầu:
+ a. Lấy ra thông tin của sinh viên thứ nhất và in ra định dạng "ID: {id}, name: {name} - age: {age}"
+ b. Lấy ra tuổi của sinh viên thứ hai
+ c. Lấy ra thông tin hai sinh viên cuối cùng
+ d. Lấy ra id của sinh viên thứ ba

## Bài 1

In [1]:
# a. Lấy ra 4 người bạn đầu tiên trong friends
# Đánh chỉ số cho các phần tử
#            0       1       2        3       4       5        6
#           -7      -6      -5       -4      -3      -2       -1
friends = ["Jen", "Jack", "Kenny", "Jelly", "Bob", "Henry", "Anne"]
print(friends[:4])

['Jen', 'Jack', 'Kenny', 'Jelly']

In [2]:
# b. Lấy ra 4 người bạn cuối trong friends
print(friends[-4:])

['Jelly', 'Bob', 'Henry', 'Anne']

In [3]:
# c. Đảo ngược danh sách friends
print(friends[::-1])

['Anne', 'Henry', 'Bob', 'Jelly', 'Kenny', 'Jack', 'Jen']

In [4]:
# d. Lấy ra những người bạn từ vị trí 1 đến hết
print(friends[1:])

['Jack', 'Kenny', 'Jelly', 'Bob', 'Henry', 'Anne']

In [5]:
# e. Copy danh sách ban đầu thành một danh sách mới
new_friends = friends[:]
print(new_friends == friends)
print(new_friends)

True
['Jen', 'Jack', 'Kenny', 'Jelly', 'Bob', 'Henry', 'Anne']

In [6]:
# f. Lấy ra những người bạn từ vị trí 2 đến sát cuối
print(friends[2:-1])

['Kenny', 'Jelly', 'Bob', 'Henry']

## Bài 2

In [7]:
# a. Lấy ra thông tin của sinh viên thứ nhất và in ra định dạng "ID: {id}, name: {name} - age: {age}"
# Đánh chỉ số cho list bên ngoài ([] bên ngoài)
#                    0                        1                       2
# Đánh chỉ số cho list bên trong
#               0       1     2       0        1      2       0       1      2
students = [["SV001", "Bob", 23], ["SV002", "Kenny", 34], ["SV003", "Henry", 45]]

In [8]:
student_one = students[0]
print(student_one)

['SV001', 'Bob', 23]

In [9]:
# In ra định dạng "ID: {id}, name: {name} - age: {age}" của sinh viên đầu tiên
student_id = student_one[0]
student_name = student_one[1]
student_age = student_one[2]

print(f"ID: {student_id}, name: {student_name} - age: {student_age}")

ID: SV001, name: Bob - age: 23

In [10]:
# b. Lấy ra tuổi của sinh viên thứ hai
student_two = students[1]
student_age = student_two[2]

print("Thông tin sinh viên thứ hai:", student_two)
print("Tuổi của sinh viên thứ hai:", student_age)

Thông tin sinh viên thứ hai: ['SV002', 'Kenny', 34]
Tuổi của sinh viên thứ hai: 34

In [11]:
# c. Lấy ra thông tin hai sinh viên cuối cùng
new_students = students[-2:]
print(new_students)

[['SV002', 'Kenny', 34], ['SV003', 'Henry', 45]]

In [12]:
# d. Lấy ra id của sinh viên thứ ba
student3_id = students[-1][0]
print(student3_id)

SV003